env_name="****"
source_db_server="****"
source_db_port=****
source_db_name="****"
source_db_user="****"
source_db_password="****"
source_sql_server_encrypt="****"
source_trust_server_certificate="****"
target_db_server="****"
target_db_port=****
target_db_name="****"
target_db_user="****"
target_db_password="****"
target_sql_server_encrypt="****"
target_trust_server_certificate="****"
timeout="300"
autocommit="True"
max_workers="3"
batch_size=10000
number_of_companies_to_load=""
debug="0"
